<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <title>Khelxa | <%= title %> </title>
    
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet"> 

    <!--Owl-carousel-->
    <link rel="stylesheet" href="/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    
    <!--Fontawesome-->
    <link rel="stylesheet" href="/icons/css/all.min.css">

    <!--CSS-->
    <link rel="stylesheet" href="/css/style.css">
</head>