<nav class="menu-bar">
    <ul>
        <li style="margin-top: 1vw"><a href="/" data-name="search"> <i class="fa-solid fa-magnifying-glass"></i> </a></li>
        <li><a href="#" data-name="home"> <i class="fa-solid fa-house"></i></a></li>
        <li><a href="#" data-name="sports"> <i class="fa-solid fa-basketball"></i></a></li>
        <li><a href="#" data-name="games"> <i class="fa-solid fa-gamepad"></i></a></li>
        <li style="margin-bottom: 2vw;"><a href="#" data-name="khelxa"> <span style="font-family: 'Germainia',sans-serif; padding: 0.5px 5px; color: #000000f0; background-color: #fff; border-radius: 4px;">K</span></a></li>

        <li style="margin-bottom: 2vw;"> <hr style="color: #fff; background-color: #fff;"></li>

        <div class="below_line">
            <li style="margin-bottom: 2vw;"><a href="#" data-name="shop"> <i class="fa-solid fa-bag-shopping"></i></a></li>
            <li style="margin-bottom: 1vw;"><a href="#" data-name="bookmark"> <i class="fa-regular fa-bookmark"></i></a></li>
        </div>
        

    </ul>
</nav>